---
pagination:
  data: remoteEvents
  size: 1
  alias: event
permalink: "/event/{{ event.localLink }}"
layout: base.njk
---

<h1>{{ event.title }}</h1>

{{ event.start_date }} – {{ event.end_date }}

{{ event.description | safe }}
