---
pagination:
  data: remoteNews
  size: 1
  alias: article
permalink: "{{ article.url }}"
layout: article.njk
---

<h1>{{ article.title }}</h1>

{{ article.date | articleDateFormat }}

{{ article.content | safe }}
