---
pagination:
  data: remoteNews
  size: 1
  alias: article
permalink: "{{ article.url }}"
layout: base.njk
---

<h1>{{ article.title.rendered }}</h1>

{{ article.date | articleDateFormat }}

{{ article.content.rendered | safe }}
